body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    box-sizing: border-box;
    border: solid 1px #CCC;
    width: 350px;
    margin: 10px;
  }
section img{
    width: 100%;
}
p, button, h2 {
    margin:15px;
  }
/*
Add some style blocks below this line to style the card.
*/
